/CallbackInterface/nbproject/private/
/CallbackInterface/build/
/Inheritance/nbproject/private/
/Inheritance/build/
/Abstraction/nbproject/private/
/Abstraction/build/
/AnonymousClass/nbproject/private/
/AnonymousClass/build/
/Interface/nbproject/private/
/Interface/build/
/LamdaAndException/nbproject/private/
/LamdaAndException/build/
/SingletonPattern/nbproject/private/
/SingletonPattern/build/
/BuilderPattern/nbproject/private/
/BuilderPattern/build/